

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.center {
    text-align: center;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header {
    background-color: #00A7FF;
    padding: 15px 0;
}

.header #title {
    color: #fff;
}

.notification {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: -3px;
}

#alert-count {
    background-color: #DC0D0D;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: -3px;
    right: -12px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.content {
    margin-top: 25px;
}

.twitter-typeahead {
    width: 100%;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    // used to be tt-dropdown-menu in older versions
  width: 100%!important;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
  width: 100%;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


.product-container {
    text-align: center;
    background-color: #1B1B1B;
    margin: 30px 3px 15px 3px;
    padding: 10px 20px;
    border-radius: 10px;
}

.product-container h2 {
    color: #AFAEAE;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
}

.product-container img {
    width: 70%;
    height: auto;
}

#customer-price {
    color: #00A7FF;;
    font-size: 28px;
}

.bid-btn, #screen1-cta, #seller-cta, #register-cta , #show-bids-cta{
    border: 2px solid #00A7FF;
    color: #00A7FF;
}

#screen1-cta, #seller-cta, #register-cta , #show-bids-cta{
    position: absolute;
    bottom: 25px;
    left: 20%;
    width: 60%;
}


.request-screen .center-image-container, .seller-wait-screen .center-image-container{
  margin-top: 50%;
}

.success-screen .center-image-container img {
   margin-top: 35px;
}

.center-image-container {
  text-align: center;
}
.center-image-container img{
  opacity: .4;
}

.success-screen h2, .bid-result-screen h2, .seller-wait-screen h2 , .seller-bid-screen h2, .checkout-screen h2 {
  font-size: 20px;
  text-align: center;
  color: #00A7FF;
}


.bid-item {
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 167, 255, 0.38);
  padding-bottom: 10px;
}

.bid-seller {
  color: #fff;
  font-weight: 600;
}

.bid-price {
  font-size: 22px;
  color: #FF9100;
}

.bid-rating, .bid-duration, .bid-distance {
  color: #A0A0A0;
  text-transform: uppercase;
  font-size: 12px;
}


.seller-bid-screen .form-group p {
  margin-bottom: 0;
  color: #00A7FF;
}



.seller-bid-screen h3{
  margin-bottom: 15px;
  margin-top: 7px;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

.seller-bid-screen .fa-circle {
  color: #00A7FF;
}

.seller-action-item {
    margin: 10px;
    padding: 25px;
    background-color: rgba(84, 78, 78, 0.6);
    -webkit-box-shadow: inset 0px 2px 25px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: inset 0px 2px 25px -2px rgba(0,0,0,0.68);
    box-shadow: inset 0px 2px 25px -2px rgba(0,0,0,0.68);
    border-radius: 13px;
}

.seller-action-item p {
  font-size: 10px;
  color: #00A7FF;
  line-height: 25px;
}

.seller-action-item h3 {
  text-align: left;
  margin-top: 0;
  color: #fff;
  margin-bottom: 10px;
}

.slider-container.row{
  margin-top: 9px;
  margin-bottom: 25px;
}

.register-screen label{
  font-size: 10px;
  color: #00A7FF;
}


.checkout-screen label {
  color: #00A7FF;
}

.checkout-screen h3 {
  margin-top: 0;
  color: #fff;
}

.checkout-screen .wrapper{
  margin-top: 70px;
}



